.product{
display: flex;
flex-direction: column;
background-color: white;
z-index:1;
align-items:center;

justify-content: flex-end;
margin:10px;
width:100%;
padding:20px;
max-height:400px;
min-width:100px;
}
.product > img{
  max-height: 200px;
  width:100%;
  object-fit:contain;
  margin-bottom:15px;
}


.product>button{
  background:orange;
  border:1px solid;
 margin-top :10px;
 border-color:black;
 color:#111
  

}
.product_price{
  margin-top:5px
}
.product_info{
  height:100px;
  margin-bottom:15px;
}
